---
layout: default
title: Home
---
{% include header.html %}

<p>
  Hello, and welcome to my personal web page. I'm currently a full time
  Software Engineer at Arm, based in our Manchester office. Occasionally
  I scribble some thoughts down on <a href="/blog">my blog</a>.
</p>

<p>
  I'm always keen to hear about great opportunities. The best way to get in
  touch is via my
  <a target="_blank" href="https://www.linkedin.com/in/martynjacques">
      LinkedIn profile.
  </a>
</p>

{% include footer.html %}
