---
layout: default
title: Home
---
{% include header.html %}

<p>
    Hello! I'm Martyn, a Computer Science undergraduate
    studying at the
    <a target="_blank" href="http://www.cs.manchester.ac.uk">
        University of Manchester.
    </a>
    I'm in my final year and have just finished a year long placement at
    <a target="_blank" href="http://www.ibm.com/uk-en/">
        IBM
    </a>
    as a Software Engineer between my second and third year.
</p>

<p>
    I keep a copy of my CV
    <a target="_blank" href="assets/MartynJacquesCV.pdf">
        here
    </a>
    and I'm always keen to hear about great opportunities. The best way to get in
    touch is via my
    <a target="_blank" href="https://www.linkedin.com/in/martynjacques">
        LinkedIn profile.
    </a>
</p>

<p>
    Whilst your here, take a look at my <a href="/blog">blog</a> to see what
    I've been up to.
</p>

{% include footer.html %}
