---
layout: default
title: Home
---
{% include header.html %}

<p>
  Hello, and welcome to my personal web page. I'm currently working as a
  Software Engineer at Arm, based in our Manchester office. My current work
  revolves around Android Performance Tools. Prior to this, I have worked on
  HPC tools including Compilers and Performance Libraries and have also worked
  on <a href="https://chromium-review.googlesource.com/c/chromium/deps/libjpeg_turbo/+/1806755">
  Google Chrome</a> based in Silicon Valley.
</p>

<p>
  If you'd like to get in touch, the best way is via my <a target="_blank"
    href="https://www.linkedin.com/in/martynjacques">LinkedIn profile.</a>
</p>

{% include footer.html %}
